body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}


header {
    color: black;
          
    }

.hero-img {
 display: flex;
    /* position: absolute; */
    width: 1920px;
    height: 660px;
    left: 0px;
    top: 50px;
    background-image: url(../Webski1/img/job-big.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 0px 0px 410px 0px;
        }    
    
.hero-text {
    position: relative;
    
    /* justify-content: center;
    align-items: center; */
    border: #fff;
    border: 10px;
    Width: 503px;   
    Height: 150px;
    Top: 263px;
    Left: 709px;
}        


.btn {
    position: absolute;
    background-color: #C95237;
    height: 56px;
    width: 204px;
    border-radius: 25px 0px;
    
}

.nav {

}

.aboutus-hero{
    position: relative;
}